.filters-oferts-container {
    height: auto;
}

.filters-oferts {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.filters-oferts .filters-typeOfProducts {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filters-oferts .filters-typeOfProducts h3 {
    font-size: 20px;
    margin: 0;
    font-weight: 600;
}

.filters-oferts .filters-typeOfProducts select {
    width: 70%;
    background-color: white;
    border: none;
    border-bottom: solid 2px grey;
    margin-top: 10px;
    height: 30%;
}

.filter-container .line-divison {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.filter-container hr {
    margin-top: 20px;
    width: 100% !important;
    border: solid 2px;
}

.line-division {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-division hr{
    margin-top: 20px;
    width: 100% !important;
    border: solid 2px;
}

@media screen and (max-width: 600px) {
    .filters-oferts {
        flex-direction: column;
        height: auto;
    }

    .filters-oferts .filters-typeOfProducts h3 {
        font-size: 15px;
    }

    .filters-oferts .filters-typeOfProducts select {
        width: 140px;
        font-size: 15px;
    }
}

