.men {
    width: 100%;
    height: 100vh;
}

.men .men-filters {
    width: 95%;
    height: 100px;
    margin: 30px auto 150px auto;
    background-color: white;

}

.men .men-container {
    width: 95%;
    height: auto;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}