.register {
   background-image: url(../../assets/bg-registro.png);
   background-position: center;
   background-size: cover;
   width: 95%;
   margin: 40px auto;
   height: 400px;
   display: flex;
   align-items: center;
}

.register .register-info {
    width: 40%;
    margin-left: 70px;
}

.register .register-info h2 {
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: start;
    color: white;
    line-height: 80%;
    margin-bottom:50px ;
}

.register .register-info p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: start;
    color: white;
    line-height: 80%;
    margin-bottom:50px ;
}

.register .register-info .btn-reg {
    padding: 10px 20px 10px 20px;
    border: solid black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: 23px;
    font-weight: 600;
    border-radius: 30px;
    transition: 0.2s;
    color: black;
}

.register .register-info .btn-reg:hover {
    background-color: black;
    color: white;
    border: solid white;
}

/* REGISTER FORM */
.register .register-form {
    width: 40%;
    height: auto;
    background-color: white;
    position: absolute;
    left: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: solid 1px grey;
}

.register .register-form .navClose {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    cursor: pointer;
}

.register .register-form img {
    width: 80px;
    margin-bottom: 18px;
    padding-top: 20px;
}

.register .register-form h2 {
    font-size: 23px;
    font-weight: 700;
    color: black;
    margin-bottom: 50px;
}

.register .register-form input {
    width: 60%;
    height: 50px;
    padding: 0px 25px;
    border-radius: 5px;
    margin-bottom: 20px;
}

::placeholder {
    color: rgb(139, 139, 139);
    font-size: 1.4rem;
  }

  .register .register-form button {
    width: 60%;
    height: 50px;
    background-color: black;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 5px;
    margin-bottom: 35px;
  }

  .register .register-form p, h5 {
    color: rgb(155, 155, 155);
  }
  
  .register .register-form h5 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 35px;
  }

  .register .register-form p {
    font-size: 15px;
    width: 60%;
    padding-bottom: 10px;
  }



  @media screen and (max-width: 1450px) {
    .register .register-info h2 {
        font-size: 50px;
    }
  }

@media screen and (max-width: 1000px) {
    .register {
        background-color: black;
        background-image: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .register .register-info {
        width: 90%;
        margin-left: 0;
    }

    .register .register-form {
        width: 60%;
        left: 20%;
    }
}

@media screen and (max-width: 600px) {
    .register .register-info h2 {
        font-size: 40px;
    }

    .register .register-form {
        width: 90%;
        left: 5%;
    }

    .register .register-form input , 
    .register .register-form button {
        width: 90%;
    }

    .register .register-form p {
        width: 90%;
    }

}