/* IF CART HAS PRODUCTS */
.carrousel-container {
    width: 95%;
    margin: 30px auto 0px;
}

.cart-container {
    width: 95%;
    height: auto;
    margin: 50px auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cart-container .products-details {
    width: 65%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(212, 212, 212);
}

.cart-container .products-details .products-details-titles {
    width: 95%;
    height: 50px;
    margin: 0 auto;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-container .products-details .products-details-titles .prod-name {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-container .products-details .products-details-titles .prod-name p {
    font-size: 17px;
    margin: 0;
}

.cart-container .products-details .products-details-titles .prod-info {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-right: 100px;
}

.cart-container .products-details .products-details-titles .prod-info p {
    font-size: 17px;
    margin: 0;
}


/* prod card */
.prod-card {
    width: 95%;
    margin: 0 auto;
    height: auto;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}

.prod-card-name {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.prod-card-name img {
    width: 100px;
}

.prod-card-name p {
    font-size: 25px;
    margin: 0;
}

.prod-card-info {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-right: 10px;
}

.prod-card-info img {
    width: 17px;
    cursor: pointer;
}

.prod-card-info p {
    font-size: 25px;
    margin: 0;
}

/* RESUME */
.cart-container .resume {
    width: 30%;
    height: 310px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(212, 212, 212);
    text-align: center;
}

.cart-container .resume h3 {
    margin: 0;
    font-size: 20px;
    padding-top: 20px;
}

.cart-container .resume .resume-subtotal {
    width: 95%;
    height: 30px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-container .resume .resume-ship {
    width: 95%;
    height: 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-container .resume .resume-total {
    width: 95%;
    height: 30px;
    margin: 10px auto;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.cart-container .resume .resume-ship p,
.cart-container .resume .resume-subtotal p ,
.cart-container .resume .resume-total p {
    font-size: 17px;
    margin: 0;
}

.cart-container .resume button {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: black;
    color: white;
    font-weight: 600;
    margin: 23px auto 15px;
    transition: 0.2s;
}

.cart-container .resume button:hover {
    background-color: white;
    color: black;
}

.cart-container .resume a {
    display: block;
    margin-top: 5px;
}
/* IF CART IS EMPTY */
.cart-empty {
    width: 95%;
    height: auto;
    min-height: 400px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-empty-message {
    width: 500px;
    height: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(212, 212, 212);
}

.cart-empty-message h3 {
    padding: 20px;
}

.cart-empty-message p {
    padding-bottom: 30px;
    width: 90%;
    margin: 0 auto;
}

.cart-empty-message .continue-btn {
    width: auto;
    height: auto;
    padding-bottom: 20px;
}

.cart-empty-message .continue-btn button {
    width: 300px;
    height: 60px;
    background-color: black;
    color: white;
    font-weight: 600;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid black;
    transition: 0.2s;
}

.cart-empty-message .continue-btn button:hover {
    background-color: white;
    color: black;
}

@media screen and (max-width: 1600px) {
    .prod-card-name p {
        font-size: 18px;
    }

    .prod-card-info p {
        font-size: 18px;
    }

    .cart-container .products-details .products-details-titles .prod-info {
        margin-right: 50px;
        gap: 40px;
    }

    .prod-card-info {
        gap: 50px;
    }
}

@media screen and (max-width: 1200px) {
    .cart .cart-container {
        flex-direction: column;
        gap: 20px;
    }

    .cart .cart-container .products-details ,
    .cart .cart-container .resume {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .prod-card {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center; 
        width: 350px; 
    }

    .cart-container .products-details .products-details-titles .prod-info {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .prod-card {
        width: 93%;
    }
}